body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

#main {
  height: 100vh;
  padding: 0 24px;
}

nav ul {
  list-style: none;
  padding: 0px;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
}

h2, 
p {
  color: #fff
}
